.wrapper {
    display: flex;
    min-height: 50dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: calc(100% - 4rem);
    padding: 2rem 0;
    margin: 0 auto;
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.card__wrapper {
    display: flex;
    overflow-y: hidden;
    box-shadow: var(--shadow-lg);
    border-radius: 0.5rem;
    cursor: pointer;
    max-height: 250px;
}

.img__wrapper {
    flex: 1;
    min-height: 100%;
}

.img__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
}

.text__wrapper:hover {
    color: hsl(10, 79%, 65%);
}
