.main {
    min-height: 100dvh;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.headingContainer {
    position: absolute;
    top: 12px;
    color: white;
}

.heroImageContainer {
    position: relative;
}

.date {
}

.title {
    font-size: 48px;
    padding: 2rem 0 1rem 0;
    color: hsl(10, 79%, 65%);
}

.subtitle {
    font-weight: 300;
    letter-spacing: 0.6ch;
    font-size: 1.1rem;
}

/* @media (min-width: 750px) {
    .wrapper {
        max-width: calc(100% - 2rem);
    }
} */
@media (min-width: 1500px) {
    .wrapper {
        max-width: 1400px;
    }
}
