.main {
    min-height: 100vh;
}

.headingContainer {
    position: absolute;
    top: 12px;
    color: white;
}

.date {
}

.title {
    font-size: 48px;
    padding: 2rem 0 1rem 0;
    color: hsl(10, 79%, 65%);
}

.subtitle {
    font-weight: 300;
    letter-spacing: 0.6ch;
    font-size: 1.1rem;
}
